{% extends 'base.html' %}
{% load static %}
 {% block content %}
   <div class="col s12 m7">
    <h2 class="header">Nagesh</h2>
    <div class="card horizontal">
      <div class="card-image">
      <img src="{% static 'img/nag.jpg' %}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I'm a Python Django Developer<br> I had developed this app craigslist  of Hyderabad  </p>
        </div>
        <div class="card-action">
          <a href="/">Thank You so much</a>
        </div>
      </div>
    </div>
  </div>

    {% endblock content %}

